@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Poppins:wght@300;400&family=Work+Sans:wght@200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  padding: 15px 25px;
  background-color: rgb(233, 48, 48);
  border: none;
  border-radius: 100px;
  color: #fff;
}

button:hover{
  background-color: rgb(204, 66, 66);
  cursor: pointer;
}